# Ignore files
.DS_Store
__pycache__/
*.pyc
*.h5
*.dat
src/notebooks/*.dat

# Ignore folders
results/
datasets/
splits/
.idea/
venv/
.ipynb_checkpoints/
test_inputs/
test_outputs/
test_trained_models/

# Ignore types of files
